<section id="contact" class="text-gray-600 body-font relative">
  <form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="container px-5 py-12 mx-auto">
      <div class="flex flex-col text-center w-full">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Get in touch</h1>
      </div>
      <div class="lg:w-1/2 md:w-2/3 mx-auto">
        <div class="flex flex-wrap -m-2">
          <div class="p-2 w-1/2">
            <div class="relative">
              <label for="{{ form.name.id_for_label }}" class="leading-7 text-sm text-gray-600">Name</label>
              <input value="{{ form.name.value }}" required type="text" id="name" name="name" class="mb-1 w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
              <span class="text-xs text-red-400">{{ form.name.errors }}</span>
            </div>
          </div>
          <div class="p-2 w-1/2">
            <div class="relative">
              <label for="{{ form.email.id_for_label }}" class="leading-7 text-sm text-gray-600">Email</label>
              <input value="{{ form.from_email.value }}" required type="email" id="from_email" name="from_email" class="mb-1 w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
              <span class="text-xs text-red-400">{{ form.from_email.errors }}</span>
            </div>
          </div>
          <div class="p-2 w-full">
            <div class="relative">
              <label for="{{ form.message.id_for_label }}" class="leading-7 text-sm text-gray-600">Message</label>
              <textarea required id="message" name="message" class="mb-1 w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out">{{form.message.value}}</textarea>
              <span class="text-xs text-red-400">{{ form.message.errors }}</span>
            </div>
          </div>
          <div class="p-2 w-full">
            <button type="submit" class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-sm">Send</button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <script type="text/javascript"> 
    let scroll = "{{scroll}}"
    if (scroll) {
      document.getElementById("contact").scrollIntoView();
    }
  </script>
  </section>